@import "../global/mixins.scss";

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 24px 0;
  margin: 0;

  &--light {
    background-color: #81b2d3;
    color: #ffffff;
    padding: 0;
    padding-top: 37px;
  }
}

.advantage__title {
  padding-bottom: 11px;
  margin: 0;

  @include medium-text;
}

.advantage__number {
  padding-bottom: 17px;
  margin: 0;
  color: #333333;

  &--light {
    color: #ffffff;
  }
}

.advantage__description {
  margin: 0;
  padding: 0 20px;
  color: #333333;
  max-width: 290px;

  &--light {
    padding: 0 8px 37px 8px;
    color: #ffffff;
  }
}

.advantage__description-break {
  display: none;
}

.advantage__description-break-desktop {
  display: none;
}

@media (min-width: 768px) {
  .advantage {
    padding: 0 33px;

    &--light {
      width: 33.3%;
      padding: 0;
    }
  }

  .advantage__title {
    width: 150px;
    padding-top: 52px;
    padding-bottom: 12px;

    @include large-text;
  }

  .advantage__title--ordinary {
    padding-top: 4px;
  }

  .advantage__title--ordinary-other {
    padding-top: 4px;
  }

  .advantage__number {
    padding-bottom: 23px;
  }

  .advantage__description {
    padding: 0;

    &--light {
      padding: 0 30px;
      padding-bottom: 30px;
    }
  }

  .advantage__description-break {
    display: block;
  }

  .advantage__description-break-desktop {
    display: none;
  }
}

@media (min-width: 1200px) {
  .advantage {
    padding: 0 50px;
  }

  .advantage__title {
    padding-top: 32px;
  }

  .advantage__description {
    max-width: 274px;
  }

  .advantage__description-break-desktop {
    display: block;
  }

  .advantage__title--ordinary {
    padding-top: 19px;
  }

  .advantage__title--ordinary-other {
    padding-top: 0;
  }
}
