@import "../global/mixins.scss";

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 24px 0;

  &--light {
    background-color: #81b2d3;
    color: #ffffff;
    padding: 0;
    padding-top: 37px;
  }
}

.advantage__title {
  padding-bottom: 11px;
  margin: 0;

  @include medium-text;
}

.advantage__number {
  padding-bottom: 17px;
  margin: 0;
  color: #333333;

  &--light {
    color: #ffffff;
  }
}

.advantage__description {
  margin: 0;
  padding: 0 20px;
  color: #333333;
  max-width: 290px;

  &--light {
    padding: 0 8px 37px 8px;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .advantage {
    padding: 0 33px;

    &--light {
      width: 33%;
    }
  }

  .advantage__title {
    width: 160px;

    @include large-text;
  }

  .advantage__description {
    max-width: 256px;
  }
}

@media (min-width: 1200px) {
  .advantage {
    padding: 0 50px;
  }

  .advantage__description {
    max-width: 279px;
  }
}
