@import "../global/mixins.scss";

.button {
  background-color: #81b3d2;
  color: #ffffff;
  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;

  @include large-text;
}
