@import "../global/mixins.scss";

.button {
  background-color: #81b3d2;
  color: #ffffff;
  width: 100%;
  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  @include large-text;
}
