.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
  }

  .catalog__item-big {
    grid-column: span 2;
  }
}

@media (min-width: 1200px) {
  .catalog__list {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .catalog__item-big {
    grid-column: span 3;
  }
}
