.form-contact__item {
  display: block;
  position: relative;
}

.form-contact__icon {
  display: block;
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  content: "";
  right: 0;
  top: 21px;
}

.form-contact__icon--phone {
  background-image: url("../../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-contact__icon--mail {
  background-image: url("../../img/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}
