.info__title {
  padding: 15px 0 5px;
  margin: 0;
  text-transform: uppercase;
}

.info__name {
  margin: 0;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .info__title {
    padding-top: 0;
  }

  .info__name {
    padding-bottom: 0;
  }
}
