@import "../global/mixins.scss";

.main-nav {
  background-color: #81b3d2;
  position: relative;
}

.main-nav__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.main-nav__item {
  padding: 17px 0 12px;
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;

  @include medium-text;
}

.main-nav__toggle {
  position: absolute;
  top: 18px;
  right: 18px;
}
