.main-nav {
  background-color: #81b3d2;
  position: relative;
}

.main-nav__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.main-nav__item {
  padding: 17px 0 12px;
  text-align: center;
}

.main-nav__link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.main-nav__toggle {
  position: absolute;
  top: 18px;
  right: 18px;
}
