.page {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

@media (min-width: 768px) {
  .page {
    min-width: 100%;
  }
}

@media (min-width: 1200px) {
  .page__container {
    max-width: 1300px;
    margin: 0 auto;
  }
}
