.photo {
  padding: 24px 20px 27px;
  position: relative;
}

.photo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #e5e5e5;
  width: 100%;
  height: 1px;
}

.photo__image {
  display: block;
}

.photo__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 15px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .photo {
    padding: 0;
  }

  .photo::after {
    display: none;
  }

  .photo__image {
    width: 100%;
    box-sizing: border-box;
  }

  .photo__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 22px 20px 15px;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }

  .photo__description-other {
    background-color: #eaeaea;
  }

  .photo__description-like {
    padding: 2px 0 12px;
  }
}

@media (min-width: 1200px) {
  .photo {
    position: relative;
  }

  .photo__description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }

  .photo__description-another {
    padding: 17px 20px 15px 25px;
  }
}
