.promo {
  display: block;
  background-color: #81b3d2;
  padding: 90px 0 85px;
  text-align: center;
  background-image: url("../../img/intro-triangle.svg"),
    url("/img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.promo__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .promo {
    background-image:url("../../img/intro-triangle.svg"),
      url("/img/back-tablet.jpg");
    padding: 77px 0 91px;
    background-size: 100%;
    width: 100%;
  }

  .promo__image {
    height: 350px;
    width: 461px;
  }
}

@media (min-width: 1200px) {
  .promo {
    background-image: url("../../img/intro-triangle.svg"),
      url("/img/back-desktop.jpg");
  }
}
