@import "../global/mixins.scss";

.review-form {
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.review-form__title {
  margin: 0;
  padding: 36px 0 24px;

  @include medium-text;
}

.review-form__text {
  margin: 0;
  padding-bottom: 28px;
}

@media (min-width: 768px) {
  .review-form__title {
    padding: 66px 0 20px;

    @include super-large-text;
  }

  .review-form__text {
    padding: 0 166px 77px;
    line-height: 24px;
  }
}
