@import "../global/mixins.scss";

.search-form {
  padding: 0;
  padding-bottom: 30px;
}

.search-form__group {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.search-form__group--half::before,
.control::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  content: "";
}

.search-form__title {
  padding: 24px 20px 0;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0;

  @include medium-text;
}

.search-form__text {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  border: none;
  background-color: #f2f2f2;
}

.search-form__list {
  padding: 20px 20px;
  list-style: none;
  margin: 0;
}

.search-form__list--half-left {
  padding-bottom: 24px;
}

.search-form__list--half-right {
  padding-bottom: 19px;
}

.search-form__item {
  padding: 0;
  padding-bottom: 16px;
  margin: 0;
  width: 100%;
}

.search-form__label {
  padding-left: 16px;
}

.search-form__textarea {
  padding: 16px;
  min-height: 118px;
  border: none;
  background-color: #f2f2f2;
  margin: 0;
  margin-bottom: 32px;
  width: 100%;
  box-sizing: border-box;
}

.search-form__button {
  margin: 30px 20px 0;
  width: 280px;
  box-sizing: border-box;
}

.search-form__footnote {
  text-transform: uppercase;
  text-align: end;
  margin: 0;
  padding: 0 20px;

  @include super-small-text;
}


@media (min-width: 768px) {
  .search-form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .search-form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .search-form__group--half-left::before,
  .search-form__group--half-right::before {
    display: none;
  }

  .search-form__group--half-left,
  .search-form__group--half-right {
    width: 50%;
    display: flex;
  }

  .search-form__list--half-left {
    padding: 0;
    padding-top: 25px;
    width: 86.4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-form__group--half-left::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #e5e5e5;
    content: "";
  }

  .search-form__list--half-right {
    padding: 0;
    padding-top: 25px;
    padding-left: 44px;
    margin-right: 0;
    width: 86.4%;
    display: flex;
    flex-direction: column;
  }

  .search-form__title {
    padding-bottom: 28px;

    @include large-text;
  }
}
