@import "../global/mixins.scss";

.search {
  text-transform: uppercase;
  text-align: center;
  padding: 40px 18px 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__title {
  margin: 0;
  padding-bottom: 20px;

  @include large-text;
}

.search__description {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  color: #333333;
}

.search__description-break {
  display: none;
}

.search__button {
  width: 100%;
}

@media (min-width: 768px) {
  .search {
    padding-top: 61px;
    padding-bottom: 58px;
  }

  .search__title {
    @include super-large-text;
    padding-bottom: 31px;
  }

  .search__description {
    max-width: 435px;
    font-style: normal;
    padding-bottom: 41px;
  }

  .search__description-break {
    display: block;
  }

  .search__button {
    width: 458px;
  }
}


@media (min-width: 1200px) {
  .search {
    padding-bottom: 65px;
  }

  .search__description {
    padding-bottom: 45px;
  }
}