.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 33px auto;
}

.social__item {
  background-color: #81b2d3;
  display: block;
  width: 48px;
  height: 48px;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}
