@import "../global/mixins.scss";

.town {
  list-style: none;
  margin: 0;
  padding: 23px 18px 21px 18px;
  text-align: start;
  background-color: #ffffff;
}

.town__card {
  padding-bottom: 25px;
  padding-left: 47px;
}

.town__card--home {
  background-image: url("../../img/icon-house.svg");
  background-size: 39px 37px;
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.town__card--food {
  background-image: url("../../img/icon-eat.svg");
  background-size: 39px 37px;
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.town__card--souvenir {
  background-image: url("../../img/icon-gift.svg");
  background-size: 39px 37px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.town__title {
  @include medium-text;
  margin: 0;
  padding: 8px 0 16px;
}

.town__description {
  color: #333333;
  margin: 0;
  padding: 0;
}

.town__description-break {
  display: none;
}

@media (min-width: 768px) {
  .town {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    justify-content: center;
    width: 100%;
  }

  .town__card {
    padding: 156px 33px 60px;
    text-align: center;
    max-width: 190px;
  }

  .town__card--home {
    background-image: url("../../img/icon-house.svg");
    background-size: 78px 72px;
    background-position: center 60px;
    padding-top: 158px;
  }

  .town__card--food {
    background-image: url("../../img/icon-eat.svg");
    background-size: 82px 69px;
    background-position: center 62px;
  }

  .town__card--souvenir {
    background-image: url("../../img/icon-gift.svg");
    background-size: 77px 75px;
    background-position: center 64px;
    padding-top: 153px;
  }

  .town__title {
    @include large-text;
    padding: 0 0 24px;
  }

  .town__description-break {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .town__card {
    max-width: 300px;
    padding: 166px 50px 67px;
  }

  .town__card--home {
    background-image: url("../../img/icon-house.svg");
    background-size: 79px 73px;
    background-repeat: no-repeat;
    background-position: center 68px;
    padding-top: 171px;
  }

  .town__card--food {
    background-image: url("../../img/icon-eat.svg");
    background-size: 73px 69px;
    background-repeat: no-repeat;
    background-position: center 72px;
    padding-top: 168px;
  }

  .town__card--souvenir {
    background-image: url("../../img/icon-gift.svg");
    background-size: 73px auto;
    background-position: center 64px;
    padding-top: 170px;
  }
}
