@import "../global/mixins.scss";

.video {
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px;
}

.video__title {
  @include large-text;
  margin: 0;
  padding-bottom: 35px;
}

.video__text {
  margin: 0;
  padding: 0 26px 38px 26px;
  color: #333333;
}


@media (min-width: 768px) {
  .video {
    padding-top: 58px;
    padding-bottom: 40px;
  }

  .video__title {
    @include super-large-text;
    padding-bottom: 40px;
  }

  .video__text {
    padding: 0 180px 64px;
  }
}