.welcome {
  padding: 52px 0 67px;
  background-color: #81b2d3;
  background-image: url("../../img/intro-triangle.svg"),
    url("../img/back-inner-mobile.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin: 0;
}

.welcome__text {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .welcome {
    background-image: url("../../img/intro-triangle.svg"),
      url("../img/back-tablet.jpg");
    padding: 95px 0 117px;
    width: 100%;
  }

  .welcome__text {
    width: 456.9px;
    height: 77.6px;
  }
}

@media (min-width: 1200px) {
  .welcome {
    background-image: url("../../img/intro-triangle.svg"),
      url("../img/back-desktop.jpg");
    padding: 103px 0 122px;
  }

  .welcome__text {
    width: 462px;
    height: 79px;
  }
}
