.welcome {
  padding: 52px 0 67px;
  background-color: #81b2d3;
  height: 39px;
  background-image: url("../img/back-inner-mobile.jpg");
  background-position: 0 -57px;
}

.welcome__text {
  display: block;
  margin: 0 auto;
}
