//размер шрифта

@mixin small-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
}

@mixin medium-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}

@mixin large-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}

@mixin super-large-text {
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}