// Начните писать стили здесь
@use "./global/fonts.scss";
@use "./blocks/main-nav.scss";
@use "./blocks/logo.scss";
@use "./blocks/main-container.scss";
@use "./blocks/page-container.scss";
@use "./blocks/promo.scss";
@use "./blocks/visually-hidden.scss";
@use "./global/mixins.scss";
@use "./blocks/text-index.scss";
@use "./blocks/advantage.scss";
@use "./blocks/advantages.scss";
@use "./blocks/town.scss";
@use "./blocks/search.scss";
@use "./blocks/button.scss";
@use "./blocks/main-footer.scss";
@use "./blocks/social.scss";
@use "./blocks/copyright.scss";
@use "./blocks/welcome.scss";
@use "./blocks/catalog-text.scss";
@use "./blocks/catalog.scss";
@use "./blocks/photo.scss";
@use "./blocks/info.scss";
@use "./blocks/like.scss";
@use "./blocks/video.scss";
@use "./blocks/review-form.scss";
@use "./blocks/search-form.scss";
@use "./blocks/text.scss";
@use "./blocks/form-contact.scss";
@use "./blocks/person-info.scss";
